node_modules/**/*
.expo/*
npm-debug.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
web-build/
*.env
*.envrc
# backend
backend
# macOS
.DS_Store
.idea
.vscode
pc-api-6772156375821970719-223-57bb2f710eef.json
dist/*